@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
    text-align: center;
    display:grid;
    place-content:center;
    min-height: 100vh;
}
.card {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.card .qr-code img {
    width: 100%;
    border-radius: 10px;
}

.card .description h1 {
    margin: 5% auto;
    color: hsl(218, 44%, 22%);
}

.card .description h2 {
    margin: 5% auto;
    color: hsl(220, 15%, 55%);
    font-weight: lighter;
}

.attribution {
    margin: 2% auto;
}

@media (max-width: 375px) {
    .card {
        width: 300px;
        background: white;
        margin: auto;
        padding: 15px;
        border-radius: 15px;
        margin: 10px auto;
    }
    .card .description h1 {
        font-size: 20px;
    }
    .card .description h2 {
        font-size: 15px;
    }
    .card .qr-code img {
        border-radius: 7px;
    }
}

@media (min-width: 376px) and (max-width: 700px) {
    .card {
        width: 340px;
        background: white;
        margin: auto;
        padding: 12px;
        border-radius: 12px;
        margin: 8px auto;
    }
    .card .qr-code img {
        border-radius: 8px;
    }
}

